*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: whitesmoke;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
   background-image:
   url(pexels-felixmittermeier-1146134.jpg);
}
#navlist{
    padding: 20px;
    font-size: 30px;
    color:whitesmoke;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.navcontainer{
    width: 99.8vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navlogo{
    font-size: 2.5rem;
    color: whitesmoke;
}
nav{
    width: 100%;
    overflow-x: none;
}
a{
    text-decoration: none;
    color: beige;
}
.content{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 100px;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.burger{
    width: 50%;
}
.rightbox img{
    border-radius: 20px;
    width: 90%;
}
.nugget{
    width: 50%;
    text-align: center;
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rightbox{
    position: relative;
    overflow: hidden; 
    transition: all 0.5s linear 0s;
}
.rightbox:hover{
    transform: scale(1.1);
}
.rightbox .overlay{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 24, 24, 0.466);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s linear 0s;
}
.rightbox .overlay:hover{
    opacity: 1;

}
.rightbox .overlay span{
    color: #fff;
    font-size: 1.1rem;
}